body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Change to auto-fill */
  gap: 20px;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Set a minimum height to allow for scrolling */
  background-color: #f0f0f0;
  margin: 0;
  overflow-y: auto; /* Enable vertical scrolling */
}

h1{
  color: red;
}

.pokemon-card {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 200px;
}

img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

select {
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.add-button:hover {
  background-color: #45a049;
}
